---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ldap-group-syncer
  namespace: ldap-sync
data:
  sync.yaml: |
    kind: LDAPSyncConfig
    apiVersion: v1
    url: {{ fromConfigMap "openshift-config" "ldap-config" "ldapAddress" }}
    insecure: true
    bindDN: {{ fromConfigMap "openshift-config" "ldap-config" "bindDN" }}
    bindPassword:
      file: "/etc/secrets/bindPassword"
    ca: /etc/ldap-ca/ca.crt
    rfc2307:
      groupsQuery:
        baseDN: ""
        scope: sub
        filter: ""
        derefAliases: never
        pageSize: 0
      groupUIDAttribute: dn
      groupNameAttributes: [ cn ]
      groupMembershipAttributes: [ member ]
      usersQuery:
        baseDN: "
        scope: sub
        derefAliases: never
        pageSize: 0
      userUIDAttribute: dn
      userNameAttributes: [ sAMAccountName ]
      tolerateMemberNotFoundErrors: false
      tolerateMemberOutOfScopeErrors: false
